@use "sass:list";

.cursor {
  --c-width: 4.2rem;
  --c-height: 4.2rem;
  position: fixed;
  width: var(--c-width);
  height: var(--c-height);
  z-index: 10010;
  left: calc(var(--c-width) / -2);
  top: calc(var(--c-height) / -2);
  pointer-events: none;

  transition: .2s ease-out;
  transition-property: width, height, top, left;

  div {
    position: absolute;
    width: 1.05rem;
    height: 1.05rem;
    border-width: .2rem;
    border-color: var(--primary-text);
    $borders: (top left)
              (top right)
              (bottom left)
              (bottom right);

    @for $i from 1 through 4 {
      $vs: list.nth($borders, $i);
      $v1: list.nth($vs, 1);
      $v2: list.nth($vs, 2);
      &:nth-child(#{$i}) {
        #{$v1}: 0;
        #{$v2}: 0;
        border-#{$v1}-style: solid;
        border-#{$v2}-style: solid;
      }
    }
  }
}
